body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

hr {
  text-decoration: none;
}

/* PRIMER BANNER */

.logotipo {
  position: absolute;
  z-index: 5;
  top: 1%;
  left: 1%;
  max-width: 8%;
  max-height: 8%;
}

.first-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-image {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow: visible;
  width: 100%;
}

.first-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 68%;
  height: 70%;
  margin-top: 12%;
}

.first-banner h2 {
  color: #fff;
  font-size: 16px;
}

.first-banner p {
  font-size: 0.85em;
  margin-top: 2.5%;
  position: relative;
  color: #fff;
  font-weight: 400;
}

@media (min-width: 600px) {
  .first-banner h2 {
    font-size: 25px;
  }

  .first-banner p {
    font-size: 20px;
  }
}

@media (min-width: 860px) {
  .first-banner h2 {
    font-size: 40px;
  }

  .first-banner p {
    font-size: 28px;
  }

  .first-banner .btn-hero {
    font-size: 18px;
    width: 160px;
    height: 40px;
  }
}

@media (min-width: 1080px) {
  .first-banner h2 {
    font-size: 50px;
  }

  .first-banner p {
    font-size: 35px;
  }

  .first-banner .btn-hero {
    font-size: 20px;
    width: 200px;
    height: 60px;
  }
}

@media (min-width: 1800px) {
  .first-banner h2 {
    font-size: 55px;
  }

  .first-banner p {
    font-size: 55px;
    font-weight: 600;
  }
}

.first-banner img {
  position: relative;
  width: 90%;
  height: 90%;
}

.first-banner button {
  position: relative;
  margin-top: -3%;
  width: 40%;
  max-width: 75%;
  font-size: 0.7em;
  background-color: #fff;
  border: 1px solid #fff;
  color: #012579;
  border-radius: 20px;
  height: 22px;
}

.first-banner button:hover {
  background-color: #012579;
  color: #fff;
}

@media (min-width: 550px) {
  .first-banner button {
    height: 30px;
    font-size: 1em;
  }
}

@media (min-width: 1000px) {
  .first-banner button {
    height: 40px;
    font-size: 1.1em;
    border: 2px solid #fff;
    margin-top: -2.5%;
  }
}

@media (min-width: 1600px) {
  .first-banner img {
    margin-top: 3%;
  }

  .first-banner button {
    margin-top: -1.5%;
    font-size: 1.3em;
    height: 50px;
  }
}

/* FIN */

/* segundo banner */
.second-section {
  margin-top: 33%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.btn-hero {
  background-color: #012bb3;
  color: #fff;
  border: 3px solid #012bb3;
  min-height: 40%;
  height: 35;
  min-width: 20%;
  font-size: 1.2rem;
  min-width: 38%;
  max-width: 75%;
  font-size: 1em;
  border-radius: 20px;
  height: 30px;
}

.second-img {
  width: 60%;
}

.lady-gift {
  width: 80%;
}

.second-part {
  padding: 1rem;
  text-align: center;
  width: 90%;
}

.second-title {
  color: #002088;
}

.second-parag {
  font-size: 16px;
  font-weight: 600;
}

/* tercera seccion */
.third-title {
  text-align: center;
  color: #002088;
}

.third-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
}

.third-image {
  width: 75%;
  right: 0;
  margin-left: 20%;
  margin-top: 5%;
}

.third-content {
  margin-left: 4rem;
  width: 100%;
  margin-top: 5%;
}

.parag-third {
  font-size: 16px;
  font-weight: 600;
}

/* cuarta seccion */
.plane-section {

}

.nigga {
  position: absolute;
  width: 30%;
  right: 3%;
  margin-top: 7%;
  margin-right: 3%;
  border-radius: 10%;
}

.fourth-text {
  text-align: center;
}

.plane-img {
  width: 100%;
  left: 0;
}

.container-fourth {
  display: flex;
  flex-direction: column;
}

.fourth-text {
  margin-top: -3%;
  color: #002088;
  margin-bottom: 7%;
  font-size: 1.5rem;
}

.img-flex-girls {
  width: 50%;
}

.img-fourth {
  width: 80%;
}

/* productos seccion */
.row-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 2rem;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.row {
  box-shadow: 1px 1px 4px 1px #cfcfcf;
  border-radius: 1rem;
  border: 2px solid #fff;
}

.row:hover {
  border: 2px solid #012bb3;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
  margin-top: 1.5rem;
}

.img-box {
  position: relative;
  max-width: 50%;
  border-radius: 1rem 1rem 0 0;
}

.icon {
  position: absolute;
  bottom: -15px;
  color: #fff;
  font-size: 1.25rem;
  right: 40%;
  background: var(--main-color);
  border: 2px solid #fff;
  padding: 0.6rem;
  border-radius: 50%;
  text-align: center;
}

.availability {
  color: green;
  font-weight: 600;
  text-align: start;
}

.section-products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
